footer {
    height: 13rem;
    background: var(--secondary);
}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.f-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: white;
    border-radius: 50%;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.f-icon>i {
    color: black;
    font-size: 1.9rem;
}

.f-text {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    color: white;
    cursor: pointer;
}

.f-text-one {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: rgba(245, 245, 245, 0.664);
}